@charset "utf-8";
/* CSS Document */
/* S 公共库开始  */
html {
	-webkit-text-size-adjust:none;
	-ms-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-o-text-size-adjust:none;
	text-size-adjust:none;
}
html{
	height:100%;
	width:100%
}
body, div, p, ul, ol, li, h1, h2, h3, h4, h5, h6, input, textarea, select, canvas, button, dl, dd, dt {
	margin:0;
	padding:0;
	border:0;
	font-size:inherit;
}
header, hgroup, nav, section, article, aside, footer {
	display: block;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset, img {
	border:0;
}

ul, ol, li {
	list-style:none;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
input, textarea, select {
*font-size:100%;
}
img {
	vertical-align:top;
}
a:link, a:visited {
	text-decoration: none;
} /* 链接颜色 */
/* S 公共库结束  */
body a{outline:none;blr:expression(this.onFocus=this.blur());}
/*图片适应宽100%*/
.img{width: 100%; height: auto;-ms-interpolation-mode: bicubic;}














